$top-header-list-spacing: 0.8rem;

.top-header {
  font-size: 0.7rem;
  font-weight: 300;
  padding: 14px 0;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);

  ul {
    margin-bottom: 0;
  }

  li:first-child {
    border-right: 1px solid rgba($white, 0.5);
    padding-right: $top-header-list-spacing;
    margin-right: $top-header-list-spacing;
  }

  a {
    color: rgba($white, 0.7);

    &:hover {
      color: rgba($red, 1);
      text-decoration: none;
    }
  }

  &__icon {
    opacity: 0.6;
  }
}

.navbar {
  padding: 0.5rem 0 0;

  .nav-item {
    font-size: 0.8rem;
    font-weight: 300;
    padding-right: 1rem;

    a {
      color: $white !important;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: all 0.3s ease-out;

      &:hover {
        opacity: 0.5;
      }

      &.active {
        color: $primary !important;
        &:hover {
          opacity: 1;
        }
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
