.upload-button {
  img {
    width: 12rem;
    margin-bottom: 0.75rem;
    display: block;
  }
  label {
    width: 12rem;
  }
  // hide current file
  input[type='file'] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
}
