.bordered-list-item {
  padding: 0 2rem;
  @include media-breakpoint-up(sm) {
    &:first-child {
      padding-left: 15px;
      padding-right: 3rem;
    }

    &:last-child {
      padding-right: 15px;
      padding-left: 3rem;
    }
  }
  &__container {
    background: transparent;
    position: relative;
    padding: 2rem 2rem 2rem 5rem;
    z-index: 2;

    &:before {
      border: 1.4rem solid rgba($secondary, 0.4);
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      height: 7rem;
      z-index: 0;
    }
  }

  &__number {
    color: black;
    font-size: 2rem;
    font-weight: 900;
    position: absolute;
    top: 2rem;
    left: 0.3rem;
    width: 60px;
    line-height: 2rem;
    height: 60px;
    background: rgba($white, 0.75);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin: 0.5rem 0 0.9rem;
    height: 3.5rem;
    text-transform: uppercase;
  }

  &__description {
    padding-top: 1rem;
    color: $blue-100;
  }
}
