$top-header-list-spacing: 1rem;

.top-header {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 14px 0;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);

  ul {
    margin-bottom: 0;
  }

  li:first-child {
    margin-right: $top-header-list-spacing;
  }

  li:last-child {
    border-left: 1px solid rgba($white, 0.5);
    padding-left: $top-header-list-spacing;
  }

  a {
    color: rgba($white, 0.7);

    &:hover {
      color: rgba($red, 1);
      text-decoration: none;
    }
  }

  &__icon {
    opacity: 0.6;
  }
}

// Navbars
//
// .navbar, nav-toggler

.navbar {
  padding: 0.5rem 0 0;

  .nav-item {
    font-size: 0.8rem;
    font-weight: 300;
    padding-right: 1rem;

    a {
      color: $white !important;
      transition: all 0.3s ease-out;
      &.nav-link {
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
      &.text-color {
        color: $text-color !important;
      }

      &:hover {
        opacity: 0.5;

        &.text-color {
          color: $primary !important;
        }
      }

      &.active {
        color: $primary !important;
        &:hover {
          opacity: 1;
        }
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media (max-width: 768px) {
    .navbar-collapse {
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      text-align: center;
      background: rgba($black, 0.98);
      z-index: 1000;

      .navbar-nav .nav-item {
        font-size: 1rem;
        font-weight: 400;
        padding: 8px;
        border-bottom: 1px solid #555;
      }
    }
  }

  .navbar-toggler {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      background: rgba($white, 0.5);
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2) {
      top: 10px;
    }

    span:nth-child(3) {
      top: 20px;
    }

    &.open {
      span {
        background: rgba($red, 0.9);

        &:nth-child(1) {
          top: 11px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        &:nth-child(3) {
          top: 11px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }
}
