$section-height: 50rem;

.landing {
  .card {
    height: $section-height;
    background: url('../img/bg/top-video.jpg') center center no-repeat;
    background-size: cover;
    z-index: 1;
  }

  .card-img-overlay {
    text-align: center;
    background: rgba($black, 0.5);
    z-index: -1;

    &:before {
      content: '';
      position: absolute;
      top: 10rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 25rem;
      text-align: center;
      height: 26rem;
      transform: rotateX(-50%);
      z-index: 0;
      border: 1.4rem solid rgba($gray-400, 0.2);
      box-sizing: border-box;
      box-shadow: 0 3.75rem 2.5rem -2.5rem rgba(0, 0, 0, 0.3);
    }

    &__content {
      z-index: 10;
    }
  }

  .card-title {
    font-size: 3rem;
    @include media-breakpoint-up(md) {
      font-size: 3.5rem;
    }
    padding-top: 16rem;
    margin-bottom: 2rem;
  }

  .card__menu {
    height: 36rem;
    background: url('../img/bg/menu-section.png') center center no-repeat;
    background-size: cover;

    .card-img-overlay {
      background: rgba($black, 0.8);

      &:before {
        width: 20rem;
        height: 20rem;
      }
    }

    .card-title {
      margin-bottom: 0;
    }

    .card-subtitle {
      font-size: 1.2rem;
      font-family: $font-family-sans-serif;
      padding-top: 1rem;
      color: $gray-500;
    }
  }
  .card__dashboard {
    height: 24.75rem;
    background: url('../img/bg/dashboard-section.png') center center no-repeat;
    background-size: cover;

    .card-img-overlay {
      background: rgba($black, 0.85);

      &:before {
        width: 16rem;
        height: 16.5rem;
        top: 5.5rem;
        border: 1.1rem solid rgba($gray-400, 0.2);
      }
    }

    .card-title {
      margin-bottom: 0;
      padding-top: 12rem;
      font-size: 2.3rem;
      font-weight: normal;
    }

    .card-subtitle {
      font-size: 0.85rem;
      font-family: $font-family-sans-serif;
      padding-top: 0.7rem;
      color: $gray-500;
    }
  }
}

.content-page {
  .landing {
    &.entertainer.DJ .card {
      background: url('../img/bg/entertainer-dj.jpg') center center no-repeat;

      .card-img-overlay {
        background: rgba($black, 0.85);
      }
    }

    &.entertainer.MC .card {
      background: url('../img/bg/entertainers-counter.jpg') center center
        no-repeat;

      .card-img-overlay {
        background: rgba($black, 0.8);
      }
    }

    &.entertainer.LIVE .card {
      background: url('../img/bg/felebration.jpg') center bottom no-repeat;

      .card-img-overlay {
        background: rgba($black, 0.4);
      }
    }
  }
}

.intro {
  background: $black;
  background: url('../img/bg/felebration.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: $section-height;
  width: 100%;
}

.live-your-life {
  display: flex;
  flex-wrap: wrap;

  &__box {
    height: 31rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    @include media-breakpoint-up(sm) {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }

    h3 {
      font-size: 1.7rem;
      color: $black;

      span {
        color: $red;
      }
    }

    p {
      color: $text-color-secondary;
    }
  }
  &__content--1 {
    background: url('../img/bg/live-your-life.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5.5rem;

    h2 {
      font-size: 3rem;
    }

    p {
      color: $white;
      font-size: 1.2rem;
    }
  }

  &__content--2 {
    background: white;
  }

  &__content--3 {
    background: $secondary;
    h3 {
      color: $white;

      span {
        color: $red;
      }
    }

    p {
      color: $white;
    }
  }
}
