@import 'components/header';
@import 'components/home';
@import 'components/bordered-list-item';
@import 'components/entertainer';
@import 'components/event';
@import 'components/footer';
@import 'custom/slideshow';
@import 'custom/modal';
@import 'lib/forms';
@import 'lib/buttons';
@import 'lib/hover';
@import 'lib/utilities';
@import 'icon-fonts';

html {
  font-size: 0.8rem;

  @include media-breakpoint-up(sm) {
    font-size: 0.8rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 0.9rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
}

body {
  position: relative;
  z-index: -1;
}

.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include media-breakpoint-up(sm) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

button:focus {
  outline: none;
}

.btn-danger.hvr-sweep-to-left,
.btn-danger.hvr-sweep-to-right {
  &:before {
    background: $green-400;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $green-400;
  }
}
.btn-light.hvr-sweep-to-left,
.btn-light.hvr-sweep-to-right {
  &:before {
    background: $blue;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    border-color: $blue;
  }
}

.about-us {
  @include media-breakpoint-up(sm) {
    &__content {
      margin-top: 10rem;
    }

    &__title,
    &__subtitle {
      margin-left: -8.5rem;
    }
  }

  &__title {
    color: $red;
    font-size: 3rem;
  }
  &__subtitle {
    font-size: 2.25rem;
    font-weight: normal;
  }

  &__text {
    margin-top: 2.5rem;
  }
}

.entertainers-counter {
  height: 54rem;
  background: url('../img/bg/entertainers-counter.jpg') center center no-repeat;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  z-index: -100;

  .card-img-overlay {
    background: rgba($secondary, 0.2);
    height: 54rem;
  }

  &__content {
    height: 54rem;
    text-align: center;
    color: $white;
  }

  &__icon {
    font-size: 4.8rem;
  }

  &__number {
    font-size: 6.4rem;
  }

  &__name {
    font-size: 2.3rem;
    color: $red-300;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.testimonials {
  text-align: center;

  &__header {
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 2.5rem;
  }

  &__name {
    margin-top: 3.8rem;
    color: $red-200;

    &::before {
      content: '';
      display: block;
      border-top: 2px solid $white;
      margin-left: calc(50% - 1.6rem);
      margin-bottom: 1.3rem;
      width: 3.2rem;
    }
  }
}

.help {
  display: flex;
  flex-wrap: wrap;

  &__box {
    height: 31rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    @include media-breakpoint-up(sm) {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }

    h3 {
      font-size: 1.7rem;
      color: $black;

      span {
        color: $red;
      }
    }

    p {
      color: $text-color-secondary;
    }
  }
  &__content--1 {
    background: url('../img/bg/help.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5.5rem;

    h2 {
      font-size: 2.25rem;
      text-transform: uppercase;
      line-height: 1.3;
    }

    p {
      color: $white;
      font-size: 1.2rem;
    }
  }

  &__content--2 {
    background: rgba($secondary, 0.5);
    padding: 0 5.5rem;

    h3 {
      font-size: 2rem;
      font-weight: 400;
      color: $white;
      line-height: 1.4;

      span {
        color: $red;
      }
    }

    p {
      color: $white;
    }

    &__search {
      background: red;
    }
  }
}

.faqs {
  ul {
    margin-left: -20px;
    margin-bottom: 5rem;
  }

  li {
    font-size: 0.9rem;
    line-height: 2.5;
  }

  h4 {
    font-family: $font-family-sans-serif;
    font-size: 20px;
  }
}

.auth {
  background: $black;
  background: linear-gradient(rgba($body-bg, 0.1), rgba($body-bg, 0.5)),
    url('../img/bg/felebration_auth.png');
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: $section-height;
  width: 100%;

  a.register {
    color: $red;
  }

  &__container {
    margin-top: 6rem;
    padding: 75px 60px;
    background-color: black;
  }

  &__quotes {
    margin-top: 10rem;
  }
}
