@import 'components/header';
@import 'components/home';
@import 'components/bordered-list-item';
@import 'components/diamond-list-item';
@import 'components/entertainer';
@import 'components/event';
@import 'components/footer';
@import 'components/text';
@import 'custom/autocomplete';
@import 'custom/accordion';
@import 'custom/slideshow';
@import 'custom/modal';
@import 'custom/card';
@import 'custom/video';
@import 'custom/react-datepicker';
@import 'custom/badges';
@import 'lib/forms';
@import 'lib/buttons';
@import 'lib/hover';
@import 'lib/utilities';
@import 'icon-fonts';
@import 'components/backend-pages';

html {
  font-size: 0.8rem;

  @include media-breakpoint-up(sm) {
    font-size: 0.8rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 0.9rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
}

body {
  position: relative;
  z-index: -1;
}

body.modal-open {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include media-breakpoint-up(sm) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.about-us {
  @include media-breakpoint-up(sm) {
    &__content {
      margin-top: 10rem;
    }

    // &__title,
    // &__subtitle {
    //   // margin-left: -8.5rem;
    // }
  }

  &__title {
    color: $red;
    font-size: 3rem;
  }
  &__subtitle {
    font-size: 2.25rem;
    font-weight: normal;
  }

  &__text {
    margin-top: 2.5rem;
  }
}

.entertainers-counter {
  height: 54rem;
  background: url('../img/bg/entertainers-counter.jpg') center center no-repeat;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  z-index: -100;

  .card-img-overlay {
    background: rgba($secondary, 0.4);
    @include media-breakpoint-up(sm) {
      background: rgba($secondary, 0.2);
    }
    height: 54rem;
  }

  &__content {
    height: 10rem;
    margin-top: 5rem;
    @include media-breakpoint-up(sm) {
      height: 54rem;
      margin-top: 0;
    }
    text-align: center;
    color: $white;
  }

  &__icon {
    font-size: 2.4rem;
  }

  &__number {
    font-size: 4rem;
    @include media-breakpoint-up(sm) {
      font-size: 6.4rem;
    }
  }

  &__name {
    font-size: 2.3rem;
    color: $red-300;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.testimonials {
  text-align: center;

  &__header {
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 2.5rem;
  }

  &__name {
    margin-top: 3.8rem;
    color: $red-200;

    &::before {
      content: '';
      display: block;
      border-top: 2px solid $white;
      margin-left: calc(50% - 1.6rem);
      margin-bottom: 1.3rem;
      width: 3.2rem;
    }
  }
}

.help {
  display: flex;
  flex-wrap: wrap;

  &__box {
    height: 26rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    @include media-breakpoint-up(sm) {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }

    h3 {
      font-size: 1.7rem;
      color: $black;

      span {
        color: $red;
      }
    }

    p {
      color: $text-color-secondary;
    }
  }
  &__content--1 {
    background: url('../img/bg/help.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5.5rem;

    h2 {
      font-size: 2.25rem;
      text-transform: uppercase;
      line-height: 1.3;
    }

    p {
      color: $white;
      font-size: 1.2rem;
    }
  }

  &__content--2 {
    background: rgba($secondary, 0.5);
    padding: 0 5.5rem;

    h3 {
      font-size: 2rem;
      font-weight: 400;
      color: $white;
      line-height: 1.4;

      span {
        color: $red;
      }
    }

    p {
      color: $white;
    }

    &__search {
      background: $red;
    }
  }
}

.faqs {
  ul {
    margin-left: -1.25rem;
    margin-bottom: 5rem;
  }

  li {
    font-size: 0.9rem;
    line-height: 2.5;
  }

  h4 {
    font-family: $font-family-sans-serif;
    font-size: 1.25rem;
  }
}

.auth {
  background: $black;
  background: linear-gradient(rgba($body-bg, 0.02), rgba($body-bg, 0.2)),
    url('../img/bg/felebration_auth.png');
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: $section-height;
  width: 100%;

  &__link {
    color: $red-100;
  }

  &__container {
    background-color: $black;
    background-color: rgba($black, 0.6);
    @include media-breakpoint-up(sm) {
      background-color: rgba($black, 0.6);
    }
    margin-bottom: 5rem;
    border-radius: 5px;
    margin-top: 3rem;
    padding: 2.3rem 1.5rem 2rem;
    @include media-breakpoint-up(sm) {
      padding: 4.6rem 2.5rem 3.8rem;
      margin-top: 6rem;
      margin-left: 4.5rem;
    }

    &--lg {
      padding: 3rem 2.2rem;

      @include media-breakpoint-up(sm) {
        padding: 4.6rem 3.8rem;
      }
    }
  }

  &__quotes {
    margin-left: 3rem;
    position: relative;
    &:before {
      font-family: 'duvlive';
      display: inline-block;
      content: '\f10d';
      position: absolute;
      font-size: 2rem;
      top: -1.5rem;
      left: -2.5rem;
    }
    &--text {
      font-size: 1.5rem;
      margin-right: 3rem;
      font-weight: normal;
      line-height: 1.6;
      margin-top: 3rem;
    }
  }

  &__social-media {
    &--text {
      font-size: 0.8rem;
      margin: 2rem 0 0;
    }
    &--icons {
      font-size: 2rem;
      color: white;
      display: inline-block;
      margin-right: 0.7rem;
      margin-left: -0.6rem;
    }
  }

  &__footer {
    margin-top: 3.75rem;
    font-size: 0.75rem;
  }
  .form-check-label {
    font-size: 0.85rem;
  }
}

.img-big {
  object-fit: cover;
  width: 100%;
}

.onboarding {
  &__title {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.6;
    padding: 1rem 0 0;
  }

  &__instruction {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: light;
  }

  &__text {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 1rem 0;
    line-height: 2rem;
    position: relative;
    color: $text-color;

    .icon {
      font-size: 2.5rem;
      position: absolute;
      right: 0;
      top: 0;

      &.completed {
        color: $green-300;
      }

      &.pending {
        color: $gray-700;
      }
    }
  }
}

.terms-of-use {
  h5 {
    color: $red-200;
    margin-top: 3rem;
  }
}
