// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff !default;
$black: #131722;

$blue: #2a8dcc;
$indigo: #150073;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ff0000;
$orange: #fd7e14 !default;
$yellow: #ffce00;
$green: #00ff00;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800
  ),
  $colors
);

$primary: $red;
$secondary: $indigo;
$success: $green;
$info: $cyan !default;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $black;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);

// Body
//
// Settings for the `<body>` element.
$text-color: #86939e;

$body-bg: $black;
$body-color: $text-color;
$headings-color: $gray-200;

$red-100: #ffa4a4;
$red-200: #ff7070;
$red-300: #d90000;
$red-400: #a70000;

$yellow-100: #ffeda4;
$yellow-200: #ffe370;
$yellow-300: #d9af00;
$yellow-400: #a78700;

$blue-100: #bdafff;
$blue-200: #9882ff;
$blue-300: #1b0096;
$blue-400: #150073;

$green-100: #a4ffa4;
$green-200: #70ff70;
$green-300: #00ad00;
$green-400: #008500;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: 2;
$line-height-sm: 1.8;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$transition-base: all 0.4s ease-in-out;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
// stylelint-enable value-keyword-case

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 900;
$headings-font-weight-light: 400;
$headings-font-weight: 700;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$line-height-base: 1.8;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1.2rem;
$input-btn-font-size: 0.8rem;
$input-btn-line-height: 1.8;

$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 0.9rem;
$input-btn-font-size-sm: 0.7rem;
$input-btn-line-height-sm: 1.5;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 1.8rem;
$input-btn-font-size-lg: 0.9rem;
$input-btn-line-height-lg: 1.8;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-family: $input-btn-font-family !default;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;
$btn-line-height-sm: $input-btn-line-height-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;
$btn-line-height-lg: $input-btn-line-height-lg;

$btn-box-shadow: none;
$btn-focus-width: $input-btn-focus-width !default;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: 0.65 !default;
$btn-active-box-shadow: none;

$btn-link-disabled-color: $gray-600 !default;

$btn-block-spacing-y: 0.5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
