.avatar {
  &--small {
    height: 2rem;
    width: 2rem;
  }

  &--medium--small {
    height: 3rem;
    width: 3rem;
  }

  &--medium {
    height: 4rem;
    width: 4rem;
  }

  &--large {
    height: 10rem;
    width: 10rem;
  }

  &--small,
  &--medium,
  &--large {
    object-fit: cover;
    background-image: url(./../img/avatar/profile.png) !important;
    background: transparent !important;
    overflow: hidden;
    display: inline-block;
  }
}

.avatars {
  padding-left: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: inline-block;
    margin-right: -0.8rem;
  }

  &__img,
  &__others {
    background-color: #596376;
    border: 2px solid #1f2532;
    border-radius: 50%;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 0.75rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
  }
  &__others {
    background-color: $blue;
  }
}
