.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 22rem;
  z-index: 10;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 2rem;
  background: $black;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);

  @include media-breakpoint-up(sm) {
    transform: translateX(0);
    width: $sidebar-width;
    background: $sidebar-bg;
    background: rgba($sidebar-bg, 0.3);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    transition-timing-function: all 0.3s ease-in-out;
  }

  &.showSidebar {
    transform: translateX(0);
    z-index: 1000;
  }

  &__close {
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
    opacity: 0.3;
    cursor: pointer;
  }
}

.backdrop {
  display: none;
  &.showSidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($body-bg, 0.9);
    z-index: 100;
    display: block;
    opacity: 0.9;
  }
}
.sidebar__logo {
  position: relative;
  padding: 2rem;
  text-align: center;
  img {
    height: 7rem;
  }
}

.user-box {
  text-align: center;

  .user-img {
    position: relative;
    height: 6rem;
    width: 6rem;
    margin: 1.3rem auto 0.6rem;

    .img-thumbnail {
      background: transparent;
      border: 2px solid $gray-600;
      object-fit: cover;
      width: 6rem;
      height: 6rem;
    }
  }

  .user-status {
    height: 1rem;
    width: 1rem;
    position: absolute;
    border-radius: 50%;
    bottom: 0.75rem;
    right: 0.5rem;

    &.away {
      background: $warning;
    }
    &.offline {
      background: $danger;
    }
    &.online {
      background: $success;
    }
  }
  h5 {
    color: $white;
    font-family: $headings-font-family;
    font-size: 0.85rem;
    font-weight: normal;
    margin-bottom: 0;
  }

  small {
    display: block;
    font-size: 0.75rem;
    color: $blue;
    color: rgba($blue, 0.7);
    margin-top: 0;
  }
}

.sidebar-menu {
  list-style: none;
  margin-top: 5rem;

  &__header {
    font-size: 0.75rem;
    font-family: $headings-font-family;
    font-weight: normal;
    color: $text-color;
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 1.75rem;
    overflow-x: hidden;
    i {
      margin-right: 0.5rem;
      margin-left: -3px;
      font-size: 1.2rem;
      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }
    }
    a {
      display: block;
      color: $white;
      font-size: 1rem;
      transition: all 0.5s ease-out;
      @include media-breakpoint-up(sm) {
        font-size: 0.85rem;
      }

      &:hover {
        color: $red-300;
        // transform: translateX(0.15rem);
      }
      &.active {
        color: lighten($red-300, 40%);
      }
    }
  }
}

.content-page {
  margin-left: 0;
  @include media-breakpoint-up(sm) {
    margin-left: $sidebar-width;
  }
  overflow: hidden;
}
