.table__no-border th,
.table__no-border td,
.table__no-border thead th {
  border-color: transparent !important;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: rgba($text-color, 0.2);
}

.table__with-bg {
  border-collapse: separate;
  border-spacing: 0 0.7rem;
  tr {
    background-color: rgba($admin-card-bg, 0.3) !important;
    padding: 5px;

    th,
    td {
      padding-top: 1.2rem;
    }

    th:first-child,
    td:first-child {
      border-radius: 5px 0 0 5px;
      padding-left: 20px;
      vertical-align: middle;
    }

    td:last-child {
      border-radius: 0 5px 5px 0;
      padding-right: 20px;
    }

    td:first-child {
      font-weight: normal;
    }
  }
}

.table {
  font-size: 0.9rem;
  &__number {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #394046;
  }

  &__title {
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0;
    margin-top: -4px;
  }

  span {
    font-size: 0.75rem;
    display: block;
    line-height: 1.6;
  }

  .circle {
    width: 1rem;
    height: 1rem;
    background: $text-color;
    display: inline-block;
    margin-right: 0.3rem;
    border-radius: 50%;

    &.red {
      background: $red-300;
    }

    &.yellow {
      background: $yellow;
    }

    &.blue {
      background: $blue;
    }

    &.green {
      background: $green-300;
    }
  }

  &-heading {
    font-size: 1rem;
    color: $text-color;
  }
}

// loops through 20 times
// @for $i from 1 through 20 {
//   .tw-#{$i} {
//     width: percentage($i/20);
//   }
// }

.table-responsive {
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
